# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual Environment
.venv/
venv/
env/

# IDEs
.idea/
.vscode/

# Project artifacts
artifacts/
.pytest_cache/
build/
dist/

# DVC
.dvc/
.dvc/cache
.dvc/tmp
dvc.lock

# MLflow
mlruns/
mlflow.db
.trash/
