# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual Environment
.venv/
venv/
env/

# IDEs
.idea/
.vscode/

# Project artifacts
artifacts/
.pytest_cache/
build/
dist/

# DVC - We want to track dvc.yaml and dvc.lock, but ignore the internal cache
.dvc/cache
.dvc/tmp
